streamlit
# Core
pyyaml
python-dotenv
# LLM and Chatbot
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-experimental
langchain-groq
# Database
sqlalchemy
pymongo
qdrant-client
# Maths
numexpr
# Search
duckduckgo-search
# PDF Processing
pymupdf
# Vector Embeddings
sentence-transformers
# Document Processing
python-pptx
pytesseract
openpyxl

