streamlit
# Settings
pyyaml
python-dotenv
# Chatbot
groq
# PDF Manager
pymupdf
langchain
langchain-community
langchain-huggingface
sentence-transformers
# Document Manager
python-pptx
pytesseract
openpyxl
